/*LOGO/HEADER SECTION*/
.logo{
	width: 20px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
}
.top{
	display: inline-block;
	margin-top: 30px;
}
.bottom{
	display: inline-block;
}
#squareLogo{
	margin-left: 100px;
}
#squareLogo, #logoHeader{
	display: inline-block;
}

/*BACKGROUND IMAGE DIV*/
#bgImg{
	background-image: url("../img/keyImage.jpg");
	background-color: forestgreen;
	height: 683px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;

}


/*3 blueBox section*/
div.blueBox{
	display: inline-block;
	width: 30%;
}